@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,200italic);

body{
    margin: 0 0 0 60px;
    font-family: "Source Sans Pro";
    background-color: #000;
    overflow: hidden;
    color: #fff;
    font-weight: 200;
}

h3 {
    font-weight: 200;
}

#tags h1 {

    font-weight: 200;
    font-size: 60px;
}

#tags p {

    margin-bottom: -30px;
}

#about {
    color: #aaaaaa;
    width: 800px;
}

#contact span {

    color: #ff0099;
}

#contact .info {
    float: left;
}

#contact .phone {
    margin-left: 40px;
}

/*color: #ff0099;*/