<div>

    <div id="logo"></div>

    <div id="tags">

        <p><h1>BADA$$ CREATIONS,</h1></p>

        <p><h1>THROUGH AMAZING TECHNOLOGY,</h1></p>

        <p><h1>EQUALS SH^T YOU LOVE,</h1></p>

        <p><h1>AND USER EXPERIENCES WE ARE PROUD OF.</h1></p>

    </div>

    <p>
        <h3>New experience and new creations coming soon!</h3>
    </p>

    <div id="about">
        <p>
            Ullisen Media Group is an interactive development firm that's ready and willing to do cool and crazy new
            mobile, web, and social app user experiences. Our goal is to make cool it by any means necessary. So come back soon and
            checkout our own new experience.
        </p>
    </div>

    <div id="contact">
        <p>
            <div class="info email">
                @: <span><a href="mailto:info@ullisen.com">info@ullisen.com</a></span>
            </div>

            <div class="info phone">
                #: <span>404.236.9479</span>
            </div>
        </p>
    </div>


</div>

<!-- GOOGLE ANALYTICS CODE -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-15459640-1");
        pageTracker._setDomainName(".ullisenmedia.com");
        pageTracker._trackPageview();
    } catch (err) {
    }
</script>