<div itemscope itemtype="http://schema.org/Organization">

    <div id="logo">
        <meta itemprop="logo" content="http://www.ullisenmedia.com/images/logo_blk.png" />
    </div>

    <div id="tags">

        <p><h1>BADA$$ CREATIONS,</h1></p>

        <p><h1>THROUGH AMAZING TECHNOLOGY,</h1></p>

        <p><h1>EQUALS SH^T YOU LOVE,</h1></p>

        <p><h1>AND USER EXPERIENCES WE ARE PROUD OF.</h1></p>

    </div>

    <p>
        <h3>New experience and new creations coming soon!</h3>
    </p>

    <div id="about">
        <p>
            <span itemprop="name">Ullisen Media Group</span> is an interactive development firm that's ready and willing to do cool and crazy new
            mobile, web, and social app user experiences. Our goal is to make cool it by any means necessary. So come back soon and
            checkout our new user experience.
        </p>
    </div>

    <div id="contact">
        <p>
            <div class="info email">
                @: <span><a href="mailto:info@ullisen.com" itemprop="email">info@ullisen.com</a></span>
            </div>

            <div class="info phone">
                #: <span itemprop="telephone">404.236.9479</span>
            </div>

            <div class="info address">
                a: <span itemprop="address">Atlanta, GA 30309</span>
            </div>
        </p>
    </div>

    <meta itemprop="url" content="http://www.ullisenmedia.com" />

</div>

<!-- JQUERY -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>

    $(document).ready(function() {

        var init = function() {

        };

        init();
    });

</script>

<!-- GOOGLE ANALYTICS CODE -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-15459640-1");
        pageTracker._setDomainName(".ullisenmedia.com");
        pageTracker._trackPageview();
    } catch (err) {
    }
</script>