@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,200italic);

html {
    height: 100%;
}

body {

    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro";
    font-weight: 200;

}

* {

    -webkit-transition-property: color,background;
    -webkit-transition-duration: .1s,.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: color,background;
    -moz-transition-duration: .1s,.3s;
    -moz-transition-timing-function: ease-out;
    -o-transition-property: color,background;
    -o-transition-duration: .1s,.3s;
    -o-transition-timing-function: ease-out;
    transition-property: color,background;
    transition-duration: .1s,.3s;
    transition-timing-function: ease-out;
}

.left {

    left: -40px;
}

.right {

    right: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

#header {

    margin: 0;
    color: #ffffff;
    width: 100%;
    height: 60px;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #000000;
}

#header ul {

    margin: 0;
    width: auto;
    height: 100%;
    list-style-type: none;
}

#header ul li {

    display: inline-block;
}

#header .menu {

    width: auto;
    height: 60px;
    top: 0;
    position: absolute;
}

#header .menuitem {

    height: 60px;
}

#header .logo {

    width: 112px;
    height: 60px;
    margin-left: -12px;
    background: url('../images/logo.png') no-repeat left;
}

#header .tag {

    min-width: 100px;
    height: 60px;
    color: #aaaaaa;
    font-size: 16pt;
    margin-top: 10px;
    margin-left: -16px;
    vertical-align: top;
    opacity: .8;
}

#header .icon {

    width: 60px;
    height: 60px;
}

#header a.icon {

    display: block;
}

#header .umg {

    background: url('../images/icon-umg.png') no-repeat left;
    /*border-right: 1px solid #242424;*/
}

#header .search {

    background: url('../images/icon-search.png') no-repeat center;
}

#header a.search:hover {

    background-color: #313131;
}

#header .social {

    opacity: .3;
}

#header a.social:hover {

    opacity: 1.0;
}

#header .facebook {

    background: url('../images/icon-fb.png') no-repeat center;
}

#header a.facebook:hover {

    background-color: #3B5998;
}

#header .twitter {

    background: url('../images/icon-twitter.png') no-repeat center;
}

#header a.twitter:hover {

    background-color: #00aced;
}


#header .gplus {

    background: url('../images/icon-gplus.png') no-repeat center;
}

#header a.gplus:hover {

    background-color: #dd4b39;
}

#header .www {

    width: 100px;
    background: url('../images/icon-www.png') no-repeat center;
    border: 1px solid #242424;
    border-top: 0;
    border-bottom: 0;
}

#header a.www:hover {

    background-color: #313131;
}

#search {

    padding: 0;
    width: 100%;
    height: 150px;
    margin-top: 80px;
    background: #ffffff;
}

#search input[type=text] {

    margin: 0;
    padding: 0;
    color: #aaaaaa;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #efefef;
    outline: none;
    text-align: center;
    font-size: 60pt;

}

[placeholder]:focus::input-placeholder {
    opacity: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
    opacity: 0;
}

[placeholder]:focus::-moz-input-placeholder {
    opacity: 0;
}

#content {

    width: 100%;
    height: 100%;
}

#post {

    width: 100%;
    height: 100%;
}

.post {

    height: 100%;
}

#post .main {

    width: 70%;
    float: left;

    background-color: #0000ee;
}

#post .sub {

    width: 30%;
    float: right;
    background-color: #ff0000;
}
